<div class="kt-container--fluid mr-lg-5 ml-lg-5">
  <kt-portlet>
    <kt-portlet-body>
      <div class="kt-subheader kt-grid__item">
        <div class="kt-container">
          <div class="kt-subheader__main w-100">
            <div class="row w-100">
              <div class="col-10">
                <mat-form-field class="search-form-field w-100">
                  <input #searchInput matInput type="text" class="w-100" placeholder="Ingrese el número de placa" [(ngModel)]="stringSearh"/>
                  <button mat-button *ngIf="stringSearh" matSuffix mat-icon-button aria-label="Clear" (click)="clearSearch()">
                    <mat-icon>close</mat-icon>
                  </button>
                </mat-form-field>
              </div>
              <div class="col-2 kt-align-right">
                <button mat-button [matMenuTriggerFor]="options"><i class="fa fa-cog"></i></button>
                <mat-menu #options="matMenu">
                  <button mat-menu-item [matMenuTriggerFor]="order">Ordenar</button>
                  <button mat-menu-item [matMenuTriggerFor]="filter">Filtrar</button>
                </mat-menu>
                <mat-menu #order="matMenu">
                  <button mat-menu-item [matMenuTriggerFor]="order_license_plate">N&uacute;mero de placa</button>
                  <button mat-menu-item [matMenuTriggerFor]="order_date">Fecha</button>
                </mat-menu>
                <mat-menu #filter="matMenu">
                  <button mat-menu-item [matMenuTriggerFor]="filter_status">Estado</button>
                </mat-menu>
                <mat-menu #order_status="matMenu">
                  <button mat-menu-item>En Recepci&oacute;n</button>
                  <button mat-menu-item>En Taller</button>
                  <button mat-menu-item>En Proceso</button>
                  <button mat-menu-item>En Espera</button>
                </mat-menu>
                <mat-menu #filter_status="matMenu">
                  <button mat-menu-item>En Recepci&oacute;n</button>
                  <button mat-menu-item>En Taller</button>
                  <button mat-menu-item>En Proceso</button>
                  <button mat-menu-item>En Espera</button>
                </mat-menu>
                <mat-menu #order_license_plate="matMenu">
                  <button mat-menu-item (click)="setOrder('license_plate')">Acendente</button>
                  <button mat-menu-item (click)="setOrder('-license_plate')">Desendente</button>
                </mat-menu>
                <mat-menu #order_date="matMenu">
                  <button mat-menu-item (click)="setOrder('updated_at')">Acendente</button>
                  <button mat-menu-item (click)="setOrder('-updated_at')">Desendente</button>
                </mat-menu>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="kt-widget5">
        <ng-container *ngIf="list">
            <ng-container  *ngFor="let row of list">
              <ng-container [ngTemplateOutlet]="itemTemplate" [ngTemplateOutletContext]="{item: row}"></ng-container>
            </ng-container>
        </ng-container>
        <!--  TODO PAGINATION THERE-->
      </div>
    </kt-portlet-body>
  </kt-portlet>
</div>

<ng-template #itemTemplate let-item="item">
  <div class="kt-widget5__item">
    <div class="kt-widget5__content">
      <div class="kt-widget5__pic">
        <img class="kt-widget7__img" [photos]="item.vehicle.photos" alt="" appImagePrimary>
        <span class="text-black-50 text-center font-weight-bold kt-font-lg position-relative d-block"> {{ item.vehicle.license_plate }}</span>
      </div>
      <div class="kt-widget5__section">
        <a href="javascript:;" class="kt-widget5__title">{{item.vehicle.brand.name}} {{item.vehicle.model.name}} {{item.vehicle.year}} <span *ngIf="item.vehicle.color">({{item.vehicle.color}})</span></a>
        <div class="row">
        </div>

      </div>
    </div>

    <div class="kt-widget5__content">
      <div class="kt-widget5__stats text-center">
        <span class="kt-widget5__sales">{{item.updated_at | dateFormat: 'LL'}}</span>
        <ng-container *ngIf="item.vehicle_reception_status">
          <span class="kt-widget5__number">{{item.vehicle_reception_status.name}}</span>
        </ng-container>
        <a [routerLink]="['/admin/workshop/vehicle/', item.vehicle.id]" [queryParams]="{'q_id': item.vehicle.id}" class="btn btn-primary btn-sm">Details</a>
      </div>
    </div>
  </div>
</ng-template>
