<div class="kt-widget5__item">
  <div class="kt-widget5__content">
    <div class="kt-widget5__pic">
      <!--                  TODO validate if photo object exist-->
      <div class="text-center" [ngStyle]="{'position': 'relative', 'display': 'contents'}">
        <button [disabled]="readOnlyStatus" mat-icon-button class="mr-1 text-black-50" (click)="openDeleteModal()">
          <i class="fa flaticon2-trash text-danger"></i>
        </button>
        <button [disabled]="readOnlyStatus" mat-icon-button class="mr-1 text-black-50 kt-hidden">
          <i class="fa flaticon2-check-mark text-success"></i>
        </button>
      </div>
      <ng-container *ngIf="receptionPhoto.photo?.path_file">
        <img class="kt-widget7__img" [src]="urlImages + receptionPhoto.photo.path_file" alt="" (click)="openDialog(urlImages + receptionPhoto.photo.path_file)">
      </ng-container>

    </div>
  </div>
  <div class="kt-widget5__content">
    <mat-form-field [ngStyle]="{'width': '100%'}">
      <textarea [disabled]="readOnlyStatus" #commentText matInput [value]="receptionPhoto.notes" placeholder="Notas" matTextareaAutosize matAutosizeMinRows="2" matAutosizeMaxRows="5"></textarea>
    </mat-form-field>

  </div>
</div>
<swal
  #deletePhotoModal
  [swalOptions]="deletePhotoModalOption"
>
  <div *swalPortal>
  <p>Desea eliminar el comentario?</p>
  </div>
</swal>
