<div class="kt-body kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor kt-grid--stretch kt_body_workshop">
  <!--  <div class="kt-container kt-container&#45;&#45;fluid kt-grid kt-grid&#45;&#45;ver kt_body-workshop-container">-->
  <div class="row">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12">
      <div class="kt-content kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor" [ngStyle]="">
        <div ktContentAnimate class="kt-container kt-grid__item kt-grid__item--fluid kt-container--fluid">
          <ng-container *ngIf="vehicleReception">
            <div class="">
              <div class="col-12">

              </div>
              <div class="row">
                <div class="col-12">
                  <div class="row">
                    <div class="col-5">
                      <h4>Estado del Vehículo</h4>
                    </div>
                    <div class="col-7 text-right">
                      <div class="row">
                        <div class="col-9 col-md-9">
                          <h5>{{ vehicleReception.updated_at | dateFormat: 'LL' }}</h5>
                        </div>
                        <div class="col-1 col-md-1">
                          <button mat-icon-button class="text-black-50" [ngStyle]="{'bottom' : '10px'}" (click)="openPrintPreviewModal()">
                            <i class="fa flaticon2-printer text-primary"></i>
                          </button>
                        </div>
                        <div class="col-1 col-md-1">
                          <button mat-icon-button class="text-black-50" [disabled]="readOnlyStatus" [ngStyle]="{'bottom' : '10px'}" (click)="openApproveReceptionModal()">
                            <i class="fa flaticon2-check-mark text-success"></i>
                          </button>
                        </div>
                        <div class="col-1 col-md-1">
                          <button mat-icon-button class="text-black-50" (click)="openCancelReceptionModal()" [ngStyle]="{'bottom' : '10px'}">
                            <i class="fa flaticon2-cancel text-danger"></i>
                          </button>
                        </div>
                      </div>
                    </div>
                    <br>
                    <br>
                    <br>
                  </div>
                  <kt-work-status [vehicleReception]="vehicleReception" [readOnlyStatus]="readOnlyStatus"></kt-work-status>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <kt-work-todo [vehicleReception]="vehicleReception" [vehicle]="vehicle" [readOnlyStatus]="readOnlyStatus"></kt-work-todo>
                </div>
              </div>
            </div>
          </ng-container>
          <ng-container *ngIf="!vehicleReception">
            <div class="row">
              <div class="col-12 m-5 text-center">
                <button mat-stroked-button color="primary" (click)="startReception()">Comenzar con la recepción del auto</button>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>

<swal
  #cancelReceptionModal
  [swalOptions]="cancelReceptionModalOption"
>
  <div *swalPortal>
    <form [formGroup]="cancelFormGroup" autocomplete="off" class="kt-register__form kt-form">
      <div class="row">
        <div class="col-12">
          <p>Esta seguro que desea cancelar la recepci&oacute;n?</p>
          <p>Realizar esta acci&oacute;n eliminar&aacute; todos los cambios en Recepci&oacute;n y Reparaci&oacute;n</p>
          <br>
          <mat-form-field class="input-full-width w-100 pr-1">
            <mat-label>Motivo de la cancelaci&oacute;n</mat-label>
            <textarea  formControlName="notes" matInput placeholder="Motivo de la cancelaci&oacute;n" type="text" ></textarea>
            <mat-error *ngIf="isControlHasError('notes','required')">
              <strong>Este campo es requerido</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </form>
  </div>
</swal>

<swal
  #approveReceptionModal
  [swalOptions]="approveReceptionModalOption"
>
  <div *swalPortal>
    <p>Desea aprobar este formulario y pasarlo a la seccion de Reparaci&oacute;n?</p>
  </div>
</swal>


<swal
  #printPreviewModal
  [swalOptions]="printPreviewModalOption"
>
  <div *swalPortal>
    <div class="row">
      <div class="col-12">
        <section class="text-right">
          <mat-checkbox class="mr-2" (change)="updatePreviewPrinter($event)" [(ngModel)]="withPhotos">Fotos</mat-checkbox>
          <mat-checkbox class="ml-2" (change)="updatePreviewPrinter($event)" [(ngModel)]="withPrices">Precios</mat-checkbox>
        </section>
      </div>
    </div>
  </div>
</swal>
