<div class="kt-body kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor kt-grid--stretch kt_body_workshop">
  <!--  <div class="kt-container kt-container&#45;&#45;fluid kt-grid kt-grid&#45;&#45;ver kt_body-workshop-container">-->
  <div class="row">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12">
      <div class="kt-content kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor" [ngStyle]="">
        <div ktContentAnimate class="kt-container kt-grid__item kt-grid__item--fluid kt-container--fluid">
          <div class="">
            <div class="row">
              <div class="col-12">
                <kt-work-status vehicleReceptionId="1"></kt-work-status>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <kt-work-todo></kt-work-todo>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


