<div class="kt-subheader kt-grid__item">
    <div class="kt-container">
        <div class="kt-subheader__main">
            <h3 class="kt-subheader__title">Datos de la Empresa</h3>
            <span class="kt-subheader__separator kt-subheader__separator--v"></span>
            <button class="btn btn-label-primary btn-bold btn-icon-h" (click)="openAddCompanyModal($event)">
                <i class="kt-nav__link-icon flaticon2-add"></i> Nuevo
            </button>
            <button class="btn btn-label-primary btn-bold btn-icon-h" (click)="openDeleteCompanyModal($event)" [disabled]="!companySelected">
                <i class="kt-nav__link-icon flaticon2-delete"></i> Eliminar
            </button>
        </div>
    </div>
</div>

<swal
    #deleteCompanyModal
    title="Desea eliminar el company: {{ companySelected?.name }}?"
    text="Esta operación archivará toda la información de la Empresa"
    type="question"
    [swalOptions]="deleteModalOption"
>
</swal>
<swal
    #addCompanyModal
    [swalOptions]="addModalOption"
    (confirm)="addListRequest(company)"
>
  <form *swalPortal [formGroup]="companyAddFormControl" autocomplete="off" class="kt-register__form kt-form"
        [ngStyle]="{'margin': '1rem auto'}">
    <div class="row">
      <div class="col-sm-12 col-xs-12 col-12 col-md-12 col-lg-6">
        <div class="form-group">
          <input formControlName="has_alert" type="hidden" [value]="true"/>
<!--          <input formControlName="vehicle_count" type="number" [hidden]="true" [value]="0"/>-->
          <mat-form-field>
            <mat-label>Nombre Completo</mat-label>
            <input formControlName="name" matInput placeholder="Nombre" type="text"/>
            <mat-error *ngIf="isControlHasError('name','required')">
              <strong>Este campo es requerido</strong>
            </mat-error>
            <mat-error *ngIf="isControlHasError('name','minlength')">
              <strong>La longitud mímino es de 3</strong>
            </mat-error>
            <mat-error *ngIf="isControlHasError('name','maxlength')">
              <strong>La longitud máxima es de 100</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="col-sm-12 col-xs-12 col-12 col-md-12 col-lg-6">
        <div class="form-group"  >
          <mat-form-field class="input-full-width">
            <mat-label>Telefono</mat-label>
            <input formControlName="phone" matInput placeholder="Teléfono" type="text"/>
            <mat-error *ngIf="isControlHasError('phone','minlength')">
              <strong>La longitud mímino es de 3</strong>
            </mat-error>
            <mat-error *ngIf="isControlHasError('phone','maxlength')">
              <strong>La longitud máxima es de 100</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="col-sm-12 col-xs-12 col-12 col-md-12 col-lg-12">
        <div class="form-group" >
          <mat-form-field class="input-full-width w-100">
            <input type="text" placeholder="Empresa Madre" aria-label="Empresa Madre" matInput formControlName="parent" [matAutocomplete]="parent" >
            <mat-autocomplete #parent="matAutocomplete" [displayWith]="displayCompanyName">
              <mat-option *ngFor="let parent of parents | async" [value]="parent">
                {{ parent.name }}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </div>
      </div>
      <div class="col-sm-12 col-xs-12 col-12 col-md-12 col-lg-12">
        <div class="form-group">
          <mat-form-field class="input-full-width w-100">
            <mat-label>Dirección</mat-label>
            <input formControlName="address" matInput placeholder="Dirección" type="text"/>
            <mat-error *ngIf="isControlHasError('address','minlength')">
              <strong>La longitud mímino es de 3</strong>
            </mat-error>
            <mat-error *ngIf="isControlHasError('phoaddressne','maxlength')">
              <strong>La longitud máxima es de 100</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="col-sm-12 col-xs-12 col-12 col-md-12 col-lg-6">
        <div class="form-group">
          <mat-form-field>
            <mat-label>Email</mat-label>
            <input autocomplete="off" formControlName="email" matInput placeholder="Email"
                   type="email"/>
            <mat-error *ngIf="isControlHasError('email','required')">
              <strong>Este campo es requerido</strong>
            </mat-error>
            <mat-error *ngIf="isControlHasError('email','email')">
              <strong>No es un email valido</strong>
            </mat-error>
            <mat-error *ngIf="isControlHasError('email','minlength')">
              <strong>La longitud mímino es de 5</strong>
            </mat-error>
            <mat-error *ngIf="isControlHasError('email','maxlength')">
              <strong>La longitud máxima es de 200</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="col-sm-12 col-xs-12 col-12 col-md-12 col-lg-6">
        <div class="form-group">
          <mat-form-field>
            <mat-label>Nit</mat-label>
            <input formControlName="nit" matInput placeholder="Nit" type="text"/>
            <mat-error *ngIf="isControlHasError('nit','minlength')">
              <strong>La longitud mímino es de 5</strong>
            </mat-error>
            <mat-error *ngIf="isControlHasError('nit','maxlength')">
              <strong>La longitud máxima es de 200</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </div>
  </form>

</swal>

