<div class="row">
  <div class="col-6">
    <h4>Estado del Vehículo</h4>
  </div>
  <div class="col-6 text-right">
    <h4>27 de octubre, 2019 09:35</h4>
  </div>
  <br>
  <br>
  <br>
</div>
<div class="row row-no-padding row-col-separator-xl row-col-separator-md row-col-separator">
  <div class="col-md-6 col-xl-6 pr-3">
    <div class="kt-widget4">
      <div class="kt-widget4__item" [ngStyle]="{'height': '25px'}">
        <div class="kt-widget4__info">
          <mat-checkbox>Gata</mat-checkbox>
        </div>
        <mat-form-field [ngStyle]="{'width': '40px'}">
          <input matInput placeholder="" type="number" class="example-right-align" value="1">
        </mat-form-field>
      </div>
    </div>

    <div class="kt-widget4">
      <div class="kt-widget4__item" [ngStyle]="{'height': '25px'}">
        <div class="kt-widget4__info">
          <mat-checkbox>Llave de Ruedas</mat-checkbox>
        </div>
        <mat-form-field [ngStyle]="{'width': '40px'}">
          <input matInput placeholder="" type="number" class="example-right-align" value="1">
        </mat-form-field>
      </div>
    </div>

    <div class="kt-widget4">
      <div class="kt-widget4__item" [ngStyle]="{'height': '25px'}">
        <div class="kt-widget4__info">
          <mat-checkbox>Llanta de auxilio</mat-checkbox>
        </div>
        <mat-form-field [ngStyle]="{'width': '40px'}">
          <input matInput placeholder="" type="number" class="example-right-align" value="1">
        </mat-form-field>
      </div>
    </div>

    <div class="kt-widget4">
      <div class="kt-widget4__item" [ngStyle]="{'height': '25px'}">
        <div class="kt-widget4__info">
          <mat-checkbox>Extintor</mat-checkbox>
        </div>
        <mat-form-field [ngStyle]="{'width': '40px'}">
          <input matInput placeholder="" type="number" class="example-right-align" value="1">
        </mat-form-field>
      </div>
    </div>

    <div class="kt-widget4">
      <div class="kt-widget4__item" [ngStyle]="{'height': '25px'}">
        <div class="kt-widget4__info">
          <mat-checkbox>Triangulo</mat-checkbox>
        </div>
        <mat-form-field [ngStyle]="{'width': '40px'}">
          <input matInput placeholder="" type="number" class="example-right-align" value="1">
        </mat-form-field>
      </div>
    </div>

    <div class="kt-widget4">
      <div class="kt-widget4__item" [ngStyle]="{'height': '25px'}">
        <div class="kt-widget4__info">
          <mat-checkbox>Tapas de aros</mat-checkbox>
        </div>
        <mat-form-field [ngStyle]="{'width': '40px'}">
          <input matInput placeholder="" type="number" class="example-right-align" value="1">
        </mat-form-field>
      </div>
    </div>

    <div class="kt-widget4">
      <div class="kt-widget4__item" [ngStyle]="{'height': '25px'}">
        <div class="kt-widget4__info">
          <mat-checkbox>Gata</mat-checkbox>
        </div>
        <mat-form-field [ngStyle]="{'width': '40px'}">
          <input matInput placeholder="" type="number" class="example-right-align" value="1">
        </mat-form-field>
      </div>
    </div>

    <div class="kt-widget4">
      <div class="kt-widget4__item" [ngStyle]="{'height': '25px'}">
        <div class="kt-widget4__info">
          <mat-checkbox>Llave de ruedas</mat-checkbox>
        </div>
        <mat-form-field [ngStyle]="{'width': '40px'}">
          <input matInput placeholder="" type="number" class="example-right-align" value="1">
        </mat-form-field>
      </div>
    </div>

    <div class="kt-widget4">
      <div class="kt-widget4__item" [ngStyle]="{'height': '25px'}">
        <div class="kt-widget4__info">
          <mat-checkbox>Llanta de auxilio</mat-checkbox>
        </div>
        <mat-form-field [ngStyle]="{'width': '40px'}">
          <input matInput placeholder="" type="number" class="example-right-align" value="1">
        </mat-form-field>
      </div>
    </div>

  </div>
  <div class="col-md-6 col-xl-6 pl-3">
    <div class="row pb-3">
      <div class="col-12">
        <button mat-button color="accent">AGREGAR FOTO</button>
      </div>
    </div>
    <div class="kt-widget5">
      <div class="kt-widget5__item">
        <div class="kt-widget5__content">
          <div class="kt-widget5__pic">
            <img class="kt-widget7__img" src="./assets/media/cars/interior/interior_01.jpg" alt="">
          </div>
        </div>
        <div class="kt-widget5__content">
          <mat-form-field [ngStyle]="{'width': '100%'}">
            <textarea matInput placeholder="Notas" matTextareaAutosize matAutosizeMinRows="2" matAutosizeMaxRows="5"></textarea>
          </mat-form-field>
        </div>
      </div>
    </div>

    <div class="kt-widget5">
      <div class="kt-widget5__item">
        <div class="kt-widget5__content">
          <div class="kt-widget5__pic">
            <img class="kt-widget7__img" src="./assets/media/cars/interior/interior_02.jpg" alt="">
          </div>
        </div>
        <div class="kt-widget5__content">
          <mat-form-field [ngStyle]="{'width': '100%'}">
            <textarea matInput placeholder="Notas" matTextareaAutosize matAutosizeMinRows="2" matAutosizeMaxRows="5"></textarea>
          </mat-form-field>
        </div>
      </div>
    </div>
  </div>
</div>
