<div class="row row-no-padding row-col-separator-xl row-col-separator-md row-col-separator">
<!--  ACCESSORIES CONTAINER START-->
  <div class="col-md-6 col-xl-6 pr-3">
    <ng-container *ngFor="let vehicle_accessory of vehicleAccessories">
      <div class="kt-widget4">
        <div class="kt-widget4__item" [ngStyle]="{'height': '25px'}">
            <div class="kt-widget4__info">
              <mat-checkbox [disabled]="readOnlyStatus" #checkbox_accessory (change)="createOrRemoveAccessory($event, receptionAccessoriesIds.indexOf(vehicle_accessory.id), input_accessory_quantity, vehicle_accessory.id)" [checked]="receptionAccessoriesIds.indexOf(vehicle_accessory.id) !== -1">{{ vehicle_accessory.name }}</mat-checkbox>
            </div>
            <mat-form-field [ngStyle]="{'width': '40px'}">
              <input [disabled]="readOnlyStatus" #input_accessory_quantity
                     (keydown.tab)="updateAccessoryInput(input_accessory_quantity.value, receptionAccessoriesIds.indexOf(vehicle_accessory.id), checkbox_accessory)"
                     (keydown.enter)="updateAccessoryInput(input_accessory_quantity.value, receptionAccessoriesIds.indexOf(vehicle_accessory.id), checkbox_accessory)" matInput placeholder="" type="number" class="example-right-align" value="{{ receptionAccessoriesIds.indexOf(vehicle_accessory.id) !== -1 ? receptionAccessories[receptionAccessoriesIds.indexOf(vehicle_accessory.id)]['quantity'] : vehicle_accessory.default_quantity }}">
            </mat-form-field>
        </div>
      </div>
    </ng-container>
  </div>
  <!--  ACCESSORIES CONTAINER END-->
  <!--  PHOTOS RECEPTION CONTAINER START-->
  <div class="col-md-6 col-xl-6 pl-3 ">
    <div class="row pb-3">
      <div class="col-12">
        <button [disabled]="readOnlyStatus" mat-button color="accent" (click)="openAddPhotoModal($event)" >AGREGAR FOTO</button>
      </div>
    </div>
    <div class="photos_reception_container--list">
      <ng-container *ngIf="receptionPhotos">
        <div class="kt-widget5" *ngFor="let receptionPhoto of receptionPhotos | keyvalue">
          <!--          START COMMENT SECTION-->
          <kt-work-status-comment [readOnlyStatus]="readOnlyStatus" [vehicleReceptionId]="vehicleReception.id" [receptionPhoto]="receptionPhoto.value" (removeReceptionPhotoEmitter)="removeReceptionPhotoItem($event, receptionPhoto.key)"></kt-work-status-comment>
          <!--          END COMMENT SECTION-->
        </div>
      </ng-container>
      <ng-container *ngIf="!receptionPhotos">
        <p>No hay im&aacute;genes y/o comentarios</p>
      </ng-container>
    </div>
  </div>
  <!--  PHOTOS RECEPTION CONTAINER END-->
</div>

<swal
    #addPhotoModal
    [swalOptions]="addPhotoModalOption"
>
  <div *swalPortal>
    <file-pond #myPond
               [options]="pondOptions"
               [files]="pondFiles"
                 (onprocessfile)="processFile($event)">
    </file-pond>
    <mat-form-field class="input-full-width w-100">
      <mat-label>Comentarios</mat-label>
      <textarea #receptionPhotoNoteInput matInput placeholder="Comentarios" type="text" rows="5"></textarea>
    </mat-form-field>
    <ng-container *ngIf="receptionPhotoError && receptionPhotoError!=null && receptionPhotoError!=''">
      <p class="text-danger">{{receptionPhotoError}}</p>
    </ng-container>

  </div>
</swal>
