<div class="row">
  <div class="col-6">
    <h4>Estado del Vehículo</h4>
  </div>
  <div class="col-6 text-right">
    <h4>27 de octubre, 2019 09:35</h4>
  </div>
  <br>
  <br>
  <br>
</div>
<div class="row row-no-padding row-col-separator-xl row-col-separator-md row-col-separator">
  <div class="col-md-6 col-xl-6 pr-3">
    <ng-container *ngFor="let vehicle_accessory of vehicleAccessories">
      <div class="kt-widget4">
        <div class="kt-widget4__item" [ngStyle]="{'height': '25px'}">
            <div class="kt-widget4__info">
              <mat-checkbox #checkbox_accessory (change)="updateAccessory($event, receptionAccessoriesIds.indexOf(vehicle_accessory.id), input_accessory_quantity, vehicle_accessory.id)" [checked]="receptionAccessoriesIds.indexOf(vehicle_accessory.id) !== -1">{{ vehicle_accessory.name }}</mat-checkbox>
            </div>
            <mat-form-field [ngStyle]="{'width': '40px'}">
              <input #input_accessory_quantity
                     (keydown.tab)="updateAccessoryInput(input_accessory_quantity.value, receptionAccessoriesIds.indexOf(vehicle_accessory.id), checkbox_accessory)"
                     (keydown.enter)="updateAccessoryInput(input_accessory_quantity.value, receptionAccessoriesIds.indexOf(vehicle_accessory.id), checkbox_accessory)" matInput placeholder="" type="number" class="example-right-align" value="{{ receptionAccessoriesIds.indexOf(vehicle_accessory.id) !== -1 ? receptionAccessories[receptionAccessoriesIds.indexOf(vehicle_accessory.id)]['quantity'] : vehicle_accessory.default_quantity }}">
            </mat-form-field>
        </div>
      </div>
    </ng-container>
  </div>
  <div class="col-md-6 col-xl-6 pl-3">
    <div class="row pb-3">
      <div class="col-12">
        <button mat-button color="accent" (click)="openAddPhotoModal($event)" >AGREGAR FOTO</button>
      </div>
    </div>
<!--    <div class="kt-widget5">-->
<!--      <div class="kt-widget5__item">-->
<!--        <div class="kt-widget5__content">-->
<!--          <div class="kt-widget5__pic">-->
<!--            <img class="kt-widget7__img" src="./assets/media/cars/interior/interior_01.jpg" alt="">-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="kt-widget5__content">-->
<!--          <mat-form-field [ngStyle]="{'width': '100%'}">-->
<!--            <textarea matInput placeholder="Notas" matTextareaAutosize matAutosizeMinRows="2" matAutosizeMaxRows="5"></textarea>-->
<!--          </mat-form-field>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->

  <!--    <div class="kt-widget5">-->
  <!--      <div class="kt-widget5__item">-->
  <!--        <div class="kt-widget5__content">-->
  <!--          <div class="kt-widget5__pic">-->
  <!--            <img class="kt-widget7__img" src="./assets/media/cars/interior/interior_02.jpg" alt="">-->
  <!--          </div>-->
  <!--        </div>-->
  <!--        <div class="kt-widget5__content">-->
  <!--          <mat-form-field [ngStyle]="{'width': '100%'}">-->
  <!--            <textarea matInput placeholder="Notas" matTextareaAutosize matAutosizeMinRows="2" matAutosizeMaxRows="5"></textarea>-->
  <!--          </mat-form-field>-->
  <!--        </div>-->
  <!--      </div>-->
  <!--    </div>-->
  </div>
</div>

<swal
    #addPhotoModal
    [swalOptions]="addPhotoModalOption"
>
  <div *swalPortal>
    <file-pond #myPond
               [options]="pondOptions"
               [files]="pondFiles"
                 (onprocessfile)="processFile($event)">
    </file-pond>
    <mat-form-field class="input-full-width w-100">
      <mat-label>Comentarios</mat-label>
      <textarea matInput placeholder="Comentarios" type="text" rows="5"></textarea>
    </mat-form-field>
  </div>
</swal>
