<div class="kt-body kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor kt-grid--stretch kt_body_workshop">
<!--  <div class="kt-container kt-container&#45;&#45;fluid kt-grid kt-grid&#45;&#45;ver kt_body-workshop-container">-->
    <div class="row">
      <div class="col-12 col-sm-12 col-md-1 col-lg-2">

      </div>
      <div class="col-12 col-sm-12 col-md-10 col-lg-8">
        <div class="kt-content kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor" [ngStyle]="">
          <div ktContentAnimate class="kt-container kt-grid__item kt-grid__item--fluid kt-container--fluid">
            <div class="">
              <div class="row">
                <div class="col-12">
                  <kt-vehicle-list></kt-vehicle-list>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-12 col-md-1 col-lg-2">

      </div>
    </div>
</div>

<!--<swal-->
<!--    #historyModal-->
<!--    title="Historial de Reparación"-->
<!--    type="info"-->
<!--    [swalOptions]="historyModalOption"-->
<!--    [showConfirmButton]="false"-->
<!--&gt;-->
<!--  <div *swalPortal>-->
<!--    <div class="kt-widget4">-->
<!--      <ng-container *ngFor="let item of [{date: 'Agosto 11 17:20', status: 'Retraso', 'message': 'El tornero no entrega las piezas'},{date: 'Agosto 11 15:15', status: 'En Espera', 'message': 'Esperando por las piezas del tornero'}, {date: 'Agosto 11 11:15', status: 'En Diagnóstico', 'message': ''} , {date: 'Agosto 11 09:05', status: 'Recibido', 'message': ''}]">-->
<!--        <ng-container [ngTemplateOutlet]="itemTemplate" [ngTemplateOutletContext]="{item: item}"></ng-container>-->
<!--      </ng-container>-->
<!--    </div>-->

<!--    <ng-template #itemTemplate let-item="item">-->
<!--      <div [ngStyle]="{'border-bottom': '1px dashed #ebedf2'}">-->
<!--        <div class="kt-widget4__item" [ngStyle]="{'border-bottom': 'none'}">-->
<!--          <a href="javascript:;" [attr.href]="item.url" class="kt-widget4__title" >{{item.date}} <span class="ml-5 text-danger">{{item.status}}</span></a>-->
<!--          <div class="w-25" >-->
<!--            <button mat-raised-button class="ml-4 btn-secondary"><i class="flaticon2-edit"></i></button>-->
<!--          </div>-->
<!--        </div>-->
<!--        <p class="kt-widget4__text">{{item.message}}</p>-->
<!--      </div>-->

<!--    </ng-template>-->
<!--  </div>-->
<!--</swal>-->
