<div class="kt-body kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor kt-grid--stretch kt_body_workshop">
<!--  <div class="kt-container kt-container&#45;&#45;fluid kt-grid kt-grid&#45;&#45;ver kt_body-workshop-container">-->
    <div class="row">
      <div class="col-12 col-sm-12 col-md-1 col-lg-2">

      </div>
      <div class="col-12 col-sm-12 col-md-10 col-lg-8">
        <div class="kt-content kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor" [ngStyle]="">
          <div ktContentAnimate class="kt-container kt-grid__item kt-grid__item--fluid kt-container--fluid">
            <div class="">
              <div class="row">
                <div class="col-12">
                  <kt-vehicle-list></kt-vehicle-list>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-12 col-md-1 col-lg-2">

      </div>
    </div>
</div>
