<ng-container *ngIf="receptionId && workList.length > 0">
  <div class="row">
    <div class="col-6"><h3>Trabajos Realizados</h3></div>
    <div class="col-6 text-right"><h5>Total {{ total }}.</h5></div>
  </div>
  <div class="row">
    <div class="table-responsive">
      <table class="table table-responsive-lg table-responsive-xl">
        <thead>
        <tr>
          <th scope="col">Rubro</th>
          <th scope="col">Cantidad</th>
          <th scope="col">Item</th>
          <!--        <th scope="col">Unitario</th>-->
          <th scope="col">Parcial</th>
          <th scope="col">Notas</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let work of workList">
          <th scope="row">{{ work.work_subcategory.work_category.category }}</th>
          <td>{{ work.quantity }}</td>
          <td>{{ work.work_subcategory.work }}</td>
          <!--        <td>200</td>-->
          <td>{{ work.price }}</td>
          <td><i [ngStyle]="{'cursor': 'pointer'}" class="fa fa-edit" (click)="openModalNotes(work.notes)"></i></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</ng-container>
<ng-container *ngIf="workList.length == 0">
<div class="row">
  <div class="col-12 text-center">
    <p class="text-black-50">No hay Trabajos guardados</p>
  </div>
</div>
</ng-container>

<swal
  #noteModal
  [swalOptions]="noteModalOption"
>
  <div *swalPortal>
    <p *ngIf="noteSelected">"{{ noteSelected }}"</p>
    <p *ngIf="!noteSelected">"Sin notas guardadas."</p>
  </div>
</swal>
