<div class="row">
  <div class="col-6"><h3>Trabajos Realizados</h3></div>
  <div class="col-6 text-right"><h5>Total 340Bs.</h5></div>
</div>
<div class="row">
  <div class="table-responsive-xl">
    <table class="table table-sm table-dark">
      <thead>
      <tr>
        <th scope="col">Rubro</th>
        <th scope="col">Cantidad</th>
        <th scope="col">Item</th>
        <th scope="col">Unitario</th>
        <th scope="col">Parcial</th>
        <th scope="col">Notas</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <th scope="row">Mecánica</th>
        <td>1</td>
        <td>Cambio de aceite</td>
        <td>200</td>
        <td>200</td>
        <td><i class="fa fa-edit"></i></td>
      </tr>
      <tr>
        <th scope="row">Mecánica</th>
        <td>1</td>
        <td>Reparar puertas traseras</td>
        <td>200</td>
        <td>200</td>
        <td><i class="fa fa-edit"></i></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="row">
  <div class="col-6"><h3>Trabajos de Terceros</h3></div>
  <div class="col-6 text-right"><h5>Total 340Bs.</h5></div>
</div>

<div class="row">
  <div class="table-responsive-xl">
    <table class="table table-sm table-dark">
      <thead>
      <tr>
        <th scope="col">Rubro</th>
        <th scope="col">Cantidad</th>
        <th scope="col">Item</th>
        <th scope="col">Unitario</th>
        <th scope="col">Parcial</th>
        <th scope="col">Notas</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <th scope="row">Pastiquero</th>
        <td>1</td>
        <td>Pegar bomba</td>
        <td>60</td>
        <td>60</td>
        <td><i class="fa fa-edit"></i></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
