<div [placement]="'bottom-right'" class="dropdown" ngbDropdown>
  <a class="btn btn-label-brand btn-bold btn-sm dropdown-toggle" href="javascript:;" ngbDropdownToggle>
    Opciones
  </a>
  <div class="dropdown-menu dropdown-menu-fit" ngbDropdownMenu>
    <ul class="kt-nav">
      <li class="kt-nav__section kt-nav__section--first">
        <span class="kt-nav__section-text">Elija una opcion:</span>
      </li>
      <li class="kt-nav__item">
        <a class="kt-nav__link" href="javascript:;">
          <i class="kt-nav__link-icon flaticon2-graph-1"></i>
          <span class="kt-nav__link-text">Exportar</span>
        </a>
      </li>
      <li class="kt-nav__item">
        <a class="kt-nav__link" href="javascript:;">
          <i class="kt-nav__link-icon flaticon2-safe"></i>
          <span class="kt-nav__link-text">Guardar</span>
        </a>
      </li>
      <li class="kt-nav__item">
        <a class="kt-nav__link" href="javascript:;">
          <i class="kt-nav__link-icon flaticon2-layers-1"></i>
          <span class="kt-nav__link-text">Importar</span>
        </a>
      </li>
      <li class="kt-nav__item">
        <a class="kt-nav__link" href="javascript:;">
          <i class="kt-nav__link-icon flaticon-avatar"></i>
          <span class="kt-nav__link-text">Ver detalles</span>
        </a>
      </li>
      <li class="kt-nav__item">
        <a class="kt-nav__link" href="javascript:;">
          <i class="kt-nav__link-icon flaticon2-delete"></i>
          <span class="kt-nav__link-text">Eliminar</span>
        </a>
      </li>
    </ul>
  </div>
</div>
