<div class="kt-separator kt-separator--dashed pt-1 pb-1 mt-1 mb-3"></div>
<div class="row">
  <div class="col-6">
    <h4>Trabajos a Realizar</h4>
  </div>
  <div class="col-6 text-right">
    <h4>SubTotal: 130 Bs</h4>
  </div>
  <br>
  <br>
  <br>
</div>
<div class="row">
  <div class="col-10">
    <div class="material_item">
      <div class="row">
        <div class="col-9">
          <div class="row">
            <div class="col-2">
              <a mat-button matSuffix class="btn btn-icon btn-secondary ml-2 p-0 text-center">
                <i class="flaticon2-line"></i>
              </a>
            </div>
            <div class="col-10">
              <mat-form-field class="example-full-width mr-2">
                <input type="text" placeholder="Repuesto o accesorio" aria-label="Repuesto o accesorio" matInput [matAutocomplete]="auto" value="Plastiquero">
                <mat-autocomplete #auto="matAutocomplete">
                  <mat-option *ngFor="let option of ['Plastiquero', 'Alarmas', 'Tornero']" [value]="option">
                    {{ option }}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
            </div>
          </div>

        </div>
        <div class="col-3">
          <button mat-button matSuffix color="warn" class="mr-1">
            <i class="flaticon2-trash"></i>
          </button>
          <button mat-icon-button matSuffix>
            <button mat-button color="primary"><i class="flaticon2-plus"></i></button>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-2">
    <mat-form-field class="example-full-width w-100 pb-2">
      <input matInput placeholder="Monto" type="number" class="example-right-align" value="180">
      <span matSuffix>&nbsp;Bs.</span>
    </mat-form-field>
  </div>
</div>
<!--                                  ITEMS Start                  -->
<div class="row">
  <div class="col-10">
    <div class="material_item">
      <div class="row">
        <div class="col-9">
          <div class="row">
            <div class="col-2"></div>
            <div class="col-2">
              <a mat-button matSuffix class="btn btn-icon btn-secondary ml-2 p-0 text-center">
                <i class="flaticon2-plus"></i>
              </a>
            </div>
            <div class="col-8">
              <mat-form-field class="example-full-width mr-2">
                <input type="text" placeholder="Repuesto o accesorio" aria-label="Repuesto o accesorio" matInput value="Pegado de bomba de irrigadores">
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="col-3">
          <button mat-button matSuffix color="warn" class="mr-1">
            <i class="flaticon2-trash"></i>
          </button>
          <button mat-icon-button matSuffix>
            <button mat-button color="primary"><i class="flaticon2-plus"></i></button>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-2">
    <mat-form-field class="example-full-width w-100 pb-2">
      <input matInput placeholder="Monto" type="number" class="example-right-align" value="80">
      <span matSuffix>&nbsp;Bs.</span>
    </mat-form-field>
  </div>
</div>
<!--                                  ITEMS End                  -->
<div class="row">
  <div class="col-10">
    <div class="material_item">
      <div class="row">
        <div class="col-9">
          <div class="row">
            <div class="col-2">
              <a mat-button matSuffix class="btn btn-icon btn-secondary ml-2 p-0 text-center">
                <i class="flaticon2-plus"></i>
              </a>
            </div>
            <div class="col-10">
              <mat-form-field class="example-full-width mr-2">
                <input type="text" placeholder="Repuesto o accesorio" aria-label="Repuesto o accesorio" matInput [matAutocomplete]="auto" value="Tornero">
                <mat-autocomplete #auto="matAutocomplete">
                  <mat-option *ngFor="let option of ['Plastiquero', 'Alarmas', 'Tornero']" [value]="option">
                    {{ option }}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="col-3">
          <button mat-button matSuffix color="warn" class="mr-1">
            <i class="flaticon2-trash"></i>
          </button>
          <button mat-icon-button matSuffix>
            <button mat-button color="primary"><i class="flaticon2-plus"></i></button>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-2">
    <mat-form-field class="example-full-width w-100 pb-2">
      <input matInput placeholder="Monto" type="number" class="example-right-align" value="50">
      <span matSuffix>&nbsp;Bs.</span>
    </mat-form-field>
  </div>
</div>
<button mat-button color="accent" (click)="openAddWorkModal($event)" >AGREGAR TRABAJO</button>


<swal
    #addWorkModal
    [swalOptions]="addWorkModalOption"
>
  <div *swalPortal>
    <form [formGroup]="addWorkFormGroup" autocomplete="off" class="kt-register__form kt-form"
          [ngStyle]="{}">
      <div class="col-sm-12 col-xs-12 col-12 col-md-12 col-lg-12">
        <div class="form-group" >
          <mat-form-field class="input-full-width w-100">
            <input type="text" placeholder="Categoría" aria-label="Categoría" matInput formControlName="work_category" [matAutocomplete]="work_category" >
            <mat-autocomplete #work_category="matAutocomplete" [displayWith]="displayName" (optionSelected)="setCategoryOption($event)">
              <mat-option *ngFor="let workCategory of workCategories | async" [value]="workCategory">
                {{ workCategory.category }}, {{workCategory.section}}, {{workCategory.area}}
              </mat-option>
            </mat-autocomplete>
            <mat-error *ngIf="isControlHasError('work_category','required')">
              <strong>Este campo es requerido</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="col-sm-12 col-xs-12 col-12 col-md-12 col-lg-12">
        <div class="form-group" >
          <mat-form-field class="input-full-width w-100">
            <input type="text" placeholder="Sub Categoría" aria-label="Sub categoría" matInput formControlName="work_subcategory" [matAutocomplete]="work_subcategory" >
            <mat-autocomplete #work_subcategory="matAutocomplete" [displayWith]="displaySubCategoryName" (optionSelected)="setSubcategoryDefaultOptions($event)">
              <mat-option *ngFor="let workSubCategory of workSubCategories | async" [value]="workSubCategory">
                {{ workSubCategory.work }}, {{workSubCategory.default_price}} Bs.
              </mat-option>
            </mat-autocomplete>
            <mat-error *ngIf="isControlHasError('work_subcategory','required')">
              <strong>Este campo es requerido</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 col-xs-6 col-6 col-md-6 col-lg-6">
          <div class="form-group">
            <mat-form-field class="input-full-width">
              <mat-label>Precio</mat-label>
              <input formControlName="price" matInput placeholder="Precio" type="number" min="0.00" max="10000.00" step="0.01" />
              <mat-error *ngIf="isControlHasError('price','required')">
                <strong>Este campo es requerido</strong>
              </mat-error>
            </mat-form-field>

          </div>
        </div>
        <div class="col-sm-6 col-xs-6 col-6 col-md-6 col-lg-6">
          <div class="form-group">
            <mat-form-field class="input-full-width">
              <mat-label>Cantidad</mat-label>
              <input formControlName="quantity" matInput placeholder="Cantidad" type="number" min="0" max="10000" step="1" />
              <mat-error *ngIf="isControlHasError('quantity','required')">
                <strong>Este campo es requerido</strong>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-xs-12 col-12 col-md-12 col-lg-12">
        <div class="form-group">
          <mat-form-field class="input-full-width w-100">
            <mat-label>Repuesto o Accesorio</mat-label>
            <textarea formControlName="notes" matInput placeholder="Repuesto o Accesorio" matTextareaAutosize matAutosizeMinRows="2" matAutosizeMaxRows="5"></textarea>
            <mat-error *ngIf="isControlHasError('notes','required')">
              <strong>Este campo es requerido</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <ng-container *ngIf="errorMessage">
        <div class="row">
          <div class="col-12">
            <p class="text-danger">{{ errorMessage }}</p>
          </div>
        </div>
      </ng-container>
    </form>
  </div>
</swal>
